.split_bills_interface{
	border-radius:20px;
	padding:50px;
	margin-top:100px;
	background-color:rgb(255,255,255);
	box-shadow:0px 0px 8px 0px rgba(0,0,0,0.1);
}
.split_bills_title{
	font-size:30px;
	text-align:center;
	padding:20px;
}
.btn_start{
	padding:15px;
	margin-top:25px;
	font-size:30px;
}
.btn{
	font-weight:bold;
	border-width:2px;
}