.number_of_people{
	height:60vh;
}
.number_of_people_interface{
	height:calc(60vh - 8px);
	width:calc(100% - 8px);
	margin:4px;
	border-radius:20px;
	padding:20px;
	background-color:rgb(255,255,255);
	box-shadow:0px 0px 8px 0px rgba(0,0,0,0.5);
	overflow:auto;
}
.name_edit_button,.name_delete_button{
	cursor:pointer;
	margin:-200px;
	border:transparent;
	background:transparent;
}

.expenses{
	height:100vh;
}
.expenses_interface{
	height:calc(100vh - 8px);
	width:calc(100% - 8px);
	margin:4px;
	border-radius:20px;
	padding:20px;
	background-color:rgb(255,255,255);
	box-shadow:0px 0px 8px 0px rgba(0,0,0,0.5);
	overflow:auto;
}
.payer_add_btn,.consumer_add_btn{
	border:transparent;
	background-color:transparent;
	cursor:pointer;
}
.payer_delete_btn,.consumer_delete_btn{
	border:1px solid #ced4da;
    background-color:transparent;
    border-radius:0.25rem;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}

.expense_edit_button,.expense_delete_button{
	cursor:pointer;
	margin:-200px;
	border:transparent;
	background:transparent;
}

.split_conditions{
	height:40vh;
}
.split_conditions_interface{
	height:calc(40vh - 8px);
	width:calc(100% - 8px);
	margin:4px;
	border-radius:20px;
	padding:20px;
	background-color:rgb(255,255,255);
	box-shadow:0px 0px 8px 0px rgba(0,0,0,0.5);
	overflow:auto;
}
.split_conditions_title{
	font-size:30px;
	text-align:center;
	padding:20px;
}
.split_condition_table_main{
	cursor:pointer;
}

.jconfirm-title{
	font-weight:bold;
}
.btn{
	font-weight:bold;
	border-width:2px;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}